In [2]:
'hello'

'hello'

In [3]:
!ls

binder	Index.ipynb  LICENSE  README.md

In [4]:
!pwd

/home/coding/workspace

In [1]:
import tensorflow as tf

In [5]:
import warnings
from itertools import product
from dateutil.relativedelta import relativedelta
from tqdm import tqdm_notebook
from scipy import stats
import scipy.stats as scs
import statsmodels.api as sm
import statsmodels.tsa.api as smt
import statsmodels.formula.api as smf  # 统计与计量
from scipy.optimize import minimize  # 优化函数
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
warnings.filterwarnings('ignore')

ImportError: No module named 'tqdm'

[10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)

In [1]:
import numpy as np
import pandas as pd

Object creation

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20200101',periods=10)

In [5]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(10,4),index=dates,columns=list('abcd'))
df

                   a         b         c         d
2020-01-01 -0.733628 -1.122758  0.193262 -0.231461
2020-01-02  1.116427  0.637585  1.061205  1.438395
2020-01-03  0.639096  0.448414  0.288852  0.921658
2020-01-04  1.419566  0.938088 -0.398843  1.271377
2020-01-05 -1.096359 -0.461485 -1.055816  0.596044
2020-01-06  0.106764  0.006921  0.309104  1.751407
2020-01-07  1.366181 -0.545257  0.197975 -0.088869
2020-01-08  0.498833  1.413524  0.928404 -1.158107
2020-01-09  2.056557  0.954137 -0.146011 -0.061587
2020-01-10  1.319640  0.135388  1.235794  0.179580